.banner {
  width: 100%;
  padding-top: 3rem;
  position: relative;
}

.banner .content,
.banner .content .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .content .text {
  margin-bottom: 4rem;
}

.banner .title {
  margin-bottom: 2rem;
}

.banner .image-desktop {
  display: none;
}

.banner .images-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.banner .images-mobile .image-center {
  width: clamp(15.625rem, 50vw, 21.875rem);
  height: auto;
  flex-shrink: 0;
}
.banner .images-mobile .image-side {
  width: clamp(12.5rem, 45vw, 18.75rem);
  height: auto;
  flex-shrink: 0;
}

.tag {
  padding-bottom: 0.25rem;
  display: inline-block;
}

/* ------ desktop styles ------ */

@media screen and (min-width: 1024px) {
  .banner {
    padding-top: 6rem;
  }

  .banner::before {
    content: "";
    width: clamp(25rem, 40vw, 60rem);
    height: clamp(25rem, 40vw, 33rem);
    background-color: var(--green-400);
    position: absolute;
    top: 0;
    right: 0;
  }

  .banner .image-desktop {
    display: block;
    width: clamp(20.875rem, 40vw, 33.375rem);

    height: auto;
  }

  .banner .images-mobile {
    display: none;
  }

  .banner .content {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .banner .content .text {
    text-align: start;
    justify-content: start;
    align-items: start;

    width: clamp(28.125rem, 40vw, 32rem);
  }
}
