.rich-dad-section {
  padding-bottom: 6.25rem;
}

.rich-dad-section .wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.rich-dad-section .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 3rem;
}

.rich-dad-section .image-rich-dad {
  width: 90%;
  height: auto;
}

.rich-dad-section .text {
  text-align: center;
}

.rich-dad-section .text h2 {
  padding-bottom: 0.75rem;
}

.rich-dad-section .text .description {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

@media screen and (min-width: 640px) {
  .rich-dad-section .image-container {
    max-width: 63.125rem;
  }

  .rich-dad-section .text {
    max-width: 46.875rem;
  }
}

@media screen and (min-width: 1024px) {
  .rich-dad-section {
    padding-bottom: 13.75rem;
  }
}
