.it-section {
  padding-bottom: 11.25rem;
}

.it-section .wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.it-section .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  order: 2;
  position: relative;
}

.it-section .image-it {
  width: 18.75rem;
  height: auto;
  position: relative;
}

.it-section .image-container::before {
  content: "";
  width: 19.688rem;
  height: 22.313rem;
  background: url("../../media/img/assets/balloon-svg.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -2rem;
  left: auto;
  right: auto;
}

/* .it-section .image-container::after {
  content: "";
  width: clamp(18rem, 40vw, 32rem);
  height: 8.125rem;
  background: url("../../media/img/assets/balloon-line.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: clamp(-6.5rem, 40vw, -2rem);
  bottom: -11rem;
  z-index: -1;
} */

.it-section .text {
  text-align: center;
  padding-bottom: 5rem;
}

.it-section .text h2 {
  padding-bottom: 0.75rem;
}

.it-section .text .description {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
